div{
margin: 0;
    padding: 10px;
    box-sizing: border-box;
    height: 200px;
    
}
.one{
    float: left;
    color: blue;
    background: red;
    width:33.33%;
}
.two{
    float: right;
    color: blue;
    background: yellow;
    width: 33.33%;}

.three{
    float: left;
    color: blue;
    background:brown;
    width: 33.33%;
}