*{
    margin:0;
    padding: 0;
    box-sizing: 0;
}
.box-1,.box-2,.box-3{
    width: 200px;height: 200px;
color: white;}
.box-1{
    background-color: blue;
padding: 20PX;
box-sizing: border-box;}
.box-2{
    background-color: brown;}
.box-3{
    background-color: black;
padding: 20PX;
box-sizing: border-box;}